<p id="notice"><%= notice %></p>

<h1>Machines</h1>

<table>
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Ip address</th>
      <th>Vmid</th>
      <th>Cpu</th>
      <th>Ram</th>
      <th>Disk</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.hostname %></td>
        <td><%= machine.ip_address %></td>
        <td><%= machine.vmid %></td>
        <td><%= machine.cpu %></td>
        <td><%= machine.ram %></td>
        <td><%= machine.disk %></td>
        <td><%= link_to 'Show', machine %></td>
        <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
        <td><%= link_to 'Destroy', machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine', new_machine_path %>
