<p id="notice"><%= notice %></p>

<p>
  <strong>Hostname:</strong>
  <%= @machine.hostname %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @machine.ip_address %>
</p>

<p>
  <strong>Vmid:</strong>
  <%= @machine.vmid %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @machine.cpu %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @machine.ram %>
</p>

<p>
  <strong>Disk:</strong>
  <%= @machine.disk %>
</p>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
